.site-header{
    background-color: lightcyan;
    color: blue;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

body{
    margin: 0;
}